body {
    background-color: lightslategrey;
}

h1 {
    text-align: center;
}

.timer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}


.subtractButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.minus {
    border-radius: 8px;
}